@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #111111;
  --brand-light: #9da894;
  --brand-dark: #505a49;
  --brand-background: var(--brand-light);
  --brand-foreground: var(--brand-dark);
  --info-light: #5bc0de;
  --info-dark: #196076;
  --info-background: var(--info-light);
  --info-foreground: var(--info-dark);
  --warning-light: #f0ad4e;
  --warning-dark: #7b4c09;
  --warning-background: var(--warning-light);
  --warning-foreground: var(--warning-dark);
  --danger-light: #f48371;
  --danger-dark: #a5220d;
  --danger-background: var(--danger-light);
  --danger-foreground: var(--danger-dark);

  @media (prefers-color-scheme: dark) {
    --background: #111111;
    --foreground: #ffffff;
    --brand-background: var(--brand-dark);
    --brand-foreground: var(--brand-light);
    --info-background: var(--info-dark);
    --info-foreground: var(--info-light);
    --warning-background: var(--warning-dark);
    --warning-foreground: var(--warning-light);
    --danger-background: var(--danger-dark);
    --danger-foreground: var(--danger-light);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-background: var(--brand-background);
  --color-brand-foreground: var(--brand-foreground);
  --color-info-background: var(--info-background);
  --color-info-foreground: var(--info-foreground);
  --color-warning-background: var(--warning-background);
  --color-warning-foreground: var(--warning-foreground);
  --color-danger-background: var(--danger-background);
  --color-danger-foreground: var(--danger-foreground);

  --font-raleway: var(--font-raleway);
  --font-open-sans: var(--font-open-sans);
}

@layer base {
  @import './base.css';
}

@layer components {
  @import './components/components.css';
}
