@import "../../sass/variables";

.work-area {
  background: #cdccc8;
  padding: 15px 0;
  height: auto;
  @media (min-width: $screen-sm) {
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    background-image: url("../../../images/work-bg.jpg");
  }
}
