@import "../../sass/variables";

.projects-wrapper {

  .projects-slider {
    margin: 0 30px;

    .slick-track {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .slick-slide {
      padding: 0 10px;
    }

    .slick-dots {
      position: relative;
      bottom: auto;
    }
  }

  @media (min-width: $screen-sm) {
    .projects-slider {
      margin: 0;
    }
  }
}
