@import "../../sass/variables";

.projects-wrapper {
  .projects-slider {
    margin-left: 0;

    .slick-track {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .slick-slide {
      padding: 0 25px;
    }

    .slick-arrow {
      z-index: 1;
    }

    .slick-next {
      right: 0;
    }

    .slick-prev {
      left: 0;
    }

    .slick-dots {
      position: relative;
      bottom: auto;
    }

    &.display-toggle {
      transition: all 1s ease;
    }

    @media (max-width: $screen-sm) {
      width: 50%;
      float: left;



      &.display-toggle {
        margin-left: -100%;
      }
    }

    @media (min-width: $screen-sm) {
        margin: 0;

        .slick-slide {
          padding: 0 8px;
        }

        .slick-next {
          right: -20px;
        }

        .slick-prev {
          left: -20px;
        }
    }
  }

  .projects-track {
    @media (max-width: $screen-sm) {
      width: 200%;
    }
  }

  @media (max-width: $screen-sm) {
    width: 100%;
    overflow: hidden;
  }

  @media (min-width: $screen-sm) {
    padding: 0 20px;
  }
}
