@import "../../sass/variables";

.resume-area {
  background: $brand-primary;

  h2 {
    margin: 0;
  }

  @media (min-width: $screen-sm) {
    padding-top: 45px;
    padding-bottom: 45px;
    background: $brand-primary;
  }

  @media (min-width: $screen-md) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
