@import "../../sass/variables";

$header-bg-color  : #fff !default;

$header-height-xs-base    : 60px !default;
$header-height-xs-scroll  : 42px !default;

$header-height-sm-base    : 60px !default;
$header-height-sm-scroll  : 50px !default;

$header-height-md-base    : 91px !default;
$header-height-md-scroll  : 60px !default;

#Header {
  height: 100%;
  .header-wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../../Images/hero-shot-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
    box-shadow: inset 0px -5px 10px 3px rgba(0, 0, 0, 0.2);
    @media (min-width: $screen-sm) {
      background-image: url('../../Images/hero-shot.jpg');
      background-position: bottom center;
      min-height: 550px;
    }

    @media (min-width: $screen-md) {
      min-height: 100%;
    }
  }

  .navbar {
    position: fixed;
    top: 0;
    z-index: 1030;
    width: 100%;
    background: $header-bg-color;
    border-bottom: 0;
    margin-bottom: 0;
    min-height: $header-height-xs-base;
    box-shadow: 0 0 12px 4px rgba(0,0,0,0.2);
    transition: all .2s linear;
    border: 0 solid transparent;

    .logo-area {

      .logo-wrapper {
        display: flex;
        height: $header-height-sm-base;
        align-items: center;
        transition: all .2s linear;
      }

      .logo-sm {
        max-height: $header-height-sm-base - 10px;
        transition: all .2s linear .1s;
      }

      .nav-top-icon {
        font-size: 30px;
        margin-left: 15px;
        margin-top: -85px;
        transition: all .1s ease-out;
        a {
          color: #000;
        }
      }
    }

    .prime-nav {
      font-family: $font-heading;
      background: transparent;

      .navbar-header {
        text-align: center;
        .navbar-toggle {
          padding: 22px 5px;
          margin: 0;
          transition: all .2s linear;

          .icon-bar {
            background: #000;
          }
        }
      }
      .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
      }

      #primeNav {
        .navbar-nav {
          > li {
            > a {
              position: relative;
              color: #000;
              font-size: 24px;
              padding: 20px 30px;
              cursor: pointer;
              &:hover, &:focus {
                background: transparent;
              }

              &:after {
                content: " ";
                position: absolute;
                top: 44px;
                left: 0;
                right: 0;
                display: block;
                height: 2px;
                width: 0;
                background: #000;
                text-align: center;
                margin: 0 auto;
                transition: all .3s ease-out;
              }
            }

            &:hover {
              > a:after {
                width: 80px;
              }
            }
          }
        }
      }
    }

    #primeNavMobile{
      padding: 0 15px;
      font-family: $font-heading;
      .navbar-nav {
        border-top: 1px solid #ccc;
        padding-top: 5px;
        > li {
          padding: 8px 0 8px 3px;
          > a {
            font-size: 18px;
            padding: 0;
            color: #000;
            &:hover, &:focus {
              background: transparent;
            }
          }
        }
      }
    }

    &.navbar-fixed-top {
      min-height: $header-height-xs-scroll;

      .logo-area {

        .logo-wrapper {
          height: $header-height-xs-scroll;
        }

        .logo-sm {
          transition: all .2s linear;
          margin-left: -100px;
          max-height: $header-height-xs-scroll - 10px;
        }

        .nav-top-icon {
          transition: all .1s ease-out .2s;
          margin-top: 0;
        }
      }

      .prime-nav {
        .navbar-header {
          .navbar-toggle {
            padding: 12px 5px;
          }
        }

        #primeNav {
          .navbar-nav {
            > li {
              > a:after {
                top: 38px;
              }
            }
          }
        }
      }

      @media (min-width: $screen-sm) {
        .logo {
          width: 25%;
          .diag-wrapper {
            height: $header-height-sm-scroll;
            .left-line-wrapper {
              height: 32px;
            }

            .right-diag-wrapper {
              height: $header-height-sm-scroll;
              .right-diag-line-wrapper {
                height: 32px;
              }
            }
          }
        }

        .logo-area {
          top: 0;
          height: $header-height-sm-scroll;
          .logo-lg {
            top: -60px;
            transform: rotate(36deg);
            transition: all .2s linear;
          }

          .nav-top-icon {
            left: 25px;
            transition: all .1s ease-out .2s;
          }
        }

        .prime-nav {
          height: $header-height-sm-scroll;
          width: 75%;
          #primeNav {
            .navbar-nav {
              > li {
                > a {
                  padding: 15px 30px;
                }
              }
            }
          }
        }
      }

      @media (min-width: $screen-md) {
        .logo {
          width: 16.6667%;
          .diag-wrapper {
            height: $header-height-md-scroll;
            .left-line-wrapper {
              height: 42px;
            }

            .right-diag-wrapper {
              height: $header-height-md-scroll;
              .right-diag-line-wrapper {
                height: 42px;
              }
            }
          }
        }

        .logo-area {
          .nav-top-icon {
            left: 10px;
            top: 8px;
          }
        }

        .prime-nav {
          height: $header-height-md-scroll;
          width: 83.3333%;
          #primeNav {
            .navbar-nav {
              > li {
                > a {
                  padding: 20px 50px;
                  &:after {
                    top: 45px;
                  }
                }
              }
            }
          }
        }
      }

      @media (min-width: $screen-lg) {
        .logo-area {
          .logo-lg {
            top: -75px;
          }
        }
      }
    }

    @media (min-width: $screen-sm) {
      background-color: transparent;
      box-shadow: none;
      .logo {
        padding-right: 0;
        padding-left: 0;
        transition: all .2s linear;
        .diag-wrapper {
          position: relative;
          display: block;
          height: 285px;
          width: 100%;
          overflow: hidden;
          transition: all .2s linear;
          .left-diag {
            position: absolute;
            top: -127px;
            right: 65px;
            display: block;
            height: 530px;
            width: 1200px;
            background: $header-bg-color;
            transform: rotate(-36deg);
            transition: all .2s linear;
          }
          .left-line-wrapper {
            position: absolute;
            top: 10px;
            right: 0;
            display: block;
            height: 500px;
            width: 97%;
            overflow: hidden;
            transition: all .2s linear;
            .left-diag-line {
              position: absolute;
              top: -234px;
              right: 426px;
              display: block;
              height: 1000px;
              width: 1px;
              background: #000;
              transform: rotate(54deg);
            }
          }
          .right-diag-wrapper {
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            height: $header-height-sm-base;
            width: 150px;
            overflow: hidden;
            transition: all .2s linear;
            .right-diag {
              position: absolute;
              top: 40px;
              right: -109px;
              display: block;
              height: 90px;
              width: 300px;
              background: $header-bg-color;
              transform: rotate(-36deg);
              transition: all .2s linear;
            }
            .right-diag-line-wrapper {
              position: absolute;;
              top: 12px;
              right: 0;
              display: block;
              height: 40px;
              width: 100%;
              overflow: hidden;
              transition: all .2s linear;
              .right-diag-line {
                position: absolute;
                top: -52px;
                right: 34px;
                display: block;
                height: 155px;
                width: 1px;
                background: #000;
                transform: rotate(54deg);
              }
            }
          }
        }
      }

      .logo-area {
        position: absolute;
        top: 15px;
        left: 15px;
        display: block;
        width: 50%;
        height: 100%;
        transition: all .2s linear;

        .logo-wrapper {
          position: relative;
          display: block;
          height: auto;
        }

        .logo-lg {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          max-width: 500px;
          transition: all .2s linear .2s;
        }

        .nav-top-icon {
          position: absolute;
          top: 3px;
          left: -35px;
          margin: 0;
          transition: all .2s ease-out;
        }
      }

      .prime-nav {
        background: $header-bg-color;
        height: $header-height-sm-base;
        transition: all .2s linear;
        #primeNav {
          .navbar-nav {
            > li {
              > a {
                transition: all .2s linear;
              }
            }
          }
        }
      }
    }

    @media (min-width: $screen-md) {
      .logo {
        .diag-wrapper {
          height: 275px;
          .right-diag-wrapper {
            height: $header-height-md-base;
            .right-diag-line-wrapper {
              height: 70px;
              .right-diag-line {
                top: -52px;
              }
            }
          }
        }
      }

      .prime-nav {
        height: $header-height-md-base;
        #primeNav {
          .navbar-nav {
            > li {
              > a {
                font-size: 30px;
                padding: 35px 50px;
                &:after {
                  top: 60px;
                }
              }

              &:hover {
                > a:after {
                  width: 100px;
                }
              }
            }
          }
        }
      }
    }

    @media (min-width: $screen-lg) {
      .logo {
        .diag-wrapper {
          height: 470px;
        }
      }

      .logo-area {
        top: 25px;
        left: 25px;

        .nav-top-icon {
          left: -45px;
        }
      }
    }

    /*-- 4K Diagnal Hack --*/
    @media (min-width: 2000px) {
      .navbar {
        .logo {
          .diag-wrapper {
            height: 910px;
            .right-diag {
              right: 32px;
              height: 800px;
              width: 2100px;
            }
          }
        }
      }
    }
  }

  .hero-content {
    width: 100%;
    height: 100%;
    background: rgba(#fff,0.4);
    padding: 150px 25px 25px;
    .hero-content-wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      height: 100%;
      width: 100%;
    }
    .hero-header {
      font-size: 30px;
      line-height: 32px;
    }

    .hero-subheader {
      font-size: 30px;
      margin-top: 20px;
    }

    .hero-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 35px;
      width: 100%;
      background: rgba(#fff,0.9);
      border: 1px solid #c3c3c3;
      align-self: center;
      padding: 0 10px 2px;
      margin-top: auto;
      justify-self: flex-end;
      text-align: center;
      color: #444;
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
      &:hover, &:focus, &:active {
        text-decoration: none;
      }
    }

    @media (min-width: $screen-sm) {
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      padding: 25px 50px;
      width: 50%;
      float: right;
      .hero-content-wrapper {
        display: inline-block;
        height: auto;
        width: auto;
      }
      .hero-subheader {
        margin-bottom: 30px;
      }
      .hero-nav {
        align-self: auto;
        margin: 0;
        background: rgba(#fff,0.4);
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
      }
    }

    @media (min-width: $screen-md) {
      padding-top: 91px;
      .hero-nav {
        margin-top: auto;
      }
    }

    @media (min-width: $screen-lg) {
      .hero-header {
        font-size: 40px;
        line-height: 42px;
      }
      .hero-subheader {
        font-size: 38px;
      }
      .hero-content-wrapper {
        margin-left: -100px;
      }
    }
  }

  @media(min-width: $screen-sm) {
    position: relative;
    z-index: 1;
    height: 550px;
  }

  @media (min-width: $screen-md) {
    height: 100%;
  }
}
