@import "../../sass/variables";

.hero-shot {
  position: relative;
  width: 100%;
  text-align: center;
  color: #fff;

  .nextsection-arrow {
    position: absolute;
    bottom: 20px;
    right: 3%;
    display: block;
    height: 50px;
    width: 60px;
    margin: 0 auto;
    text-align: center;
    transition: all .1s linear;
    a {
      display: block;
      height: 100%;
      width: 100%;
      color: #000;
      line-height: 50px;
      font-size: 40px;
      cursor: pointer;
      border-left: 1px solid #000;
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
      -webkit-box-shadow: 0 12px 20px 1px rgba(0,0,0,0.2);
      box-shadow: 0 12px 20px 1px rgba(0,0,0,0.2);
      transition: all .1s linear;
    }
    &:hover {
      bottom: 15px;
      height: 55px;
      a {
        line-height: 55px;
      }
    }
  }


  @media (min-width: $screen-sm) {
    min-height: 550px;
    background-image: url('../../../images/hero-shot.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $screen-lg) {
    min-height: 100%;
  }
}
